{% extends 'pinecon/base.html' %} {% block content %}
<div class="greeting__text_small">
    <h2> Add Task: </h2> </div>
<form method="post" action="{% url 'pinecon:create_task' %}">
    {% csrf_token %}
    <div class="form__create_task">
        <table class="table">
            {{ form }}
        </table>
    </div>
    <div class="container__button">
        <form action="{% url 'pinecon:create_task'%}">
            <button type="submit" class='basic_button'>Add Task</button>
        </form>
        <form action="{% url 'pinecon:home'%}">
            <button type="submit" class='basic_button'>Back</button>
        </form>
    </div>
</form>
{% endblock %}