{% extends 'pinecon/base.html' %} {% load static %}
{% block content %}
    <div class="center__wrapper">
<div class="greeting__text_small">Task: </div>
<div class="container__table">
    <table class="table__">
        <tr class="table__tr">
            <th class="table__th"> Сharacteristic </th>
            <th class="table__th"> Value</th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Title </th>
            <th class="table__td"> {{ task.title }} </th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Description </th>
            <th class="table__td"> {{ task.description }} </th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Status </th>
            <th class="table__td"> {{ task.status }} </th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Priority </th>
            <th class="table__td"> {{ task.priority }} </th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Creation date </th>
            <th class="table__td"> {{ task.creation_date }} </th>
        </tr>
    </table>
</div>
    </div>

{% if plan %}
    <div class="center__wrapper">
    <div class="greeting__text_small">Plan: </div>
    <div class="container__table">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Сharacteristic </th>
                <th class="table__th"> Value</th>
            </tr>
            <tr class="table__tr">
                <th class="table__td"> Next task creation day </th>
                <th class="table__td"> {{ plan.start_date }} </th>
            </tr>
            <tr class="table__tr">
                <th class="table__td"> Repeat style </th>
                <th class="table__td"> {{ plan.repeat_style }} </th>
            </tr>
            <tr class="table__tr">
                <th class="table__td"> Number of basic intervals </th>
                <th class="table__td"> {{ plan.interval_counter }} </th>
            </tr>
            <tr class="table__tr">
                <th class="table__td"> End reason </th>
                <th class="table__td"> {{ plan.end_reason }} </th>
            </tr>
            {% if plan.end_reason == "number" %}
                <tr class="table__tr">
                    <th class="table__td"> Task will be create </th>
                    <th class="table__td"> {{ plan.count }} times </th>
                </tr>
            {% elif plan.end_type == "date" %}
                <tr class="table__tr">
                    <th class="table__td"> The task will be completed by </th>
                    <th class="table__td"> {{ plan.end_date }} </th>
                </tr>
            {% endif %}
        </table>
    </div>
    </div>
{% endif %}
    <br/>
<div class="button__basic">
    <div class="container__button">
        {% if not plan and creator%}
        <form action="{% url 'pinecon:create_date' task.task_id %}">
            <button type="submit" class='basic_button'>Add Date</button>
        </form>
        <form action="{% url 'pinecon:create_subtask' task.task_id %}">
            <button class='basic_button'>Add Subtask</button>
        </form>
        <form action="{% url 'pinecon:create_executor' task.task_id %}">
            <button class='basic_button'>Add Executor</button>
        </form>
        {%  endif %}
        <form action="{% url 'pinecon:update_task' task.task_id %}">
            <button class='basic_button'>Update Task</button>
        </form>
        {% if plan %}
            <form action="{% url 'pinecon:update_plan' plan.plan_id %}">
                <button class='basic_button'>Update Plan</button>
            </form>
        {% endif %}
        {% if task.status != 'executed' and task.task_type == 'simple' %}
        <form action="{% url 'pinecon:finish_task'  task.task_id %}">
            <button class='basic_button'>Finish task</button>
        </form>
        {% endif %}
        {% if task.task_type == 'simple' %}
            {% if creator %}
                <a> <button class="button-default basic_button link" id="delete_task">Delete task</button> </a>
            {% else %}
                <a> <button class="button-default basic_button link" id="stop_being_executor">Stop being executor</button></a>
            {% endif %}
            {% else %}
                <a> <button class="button-default basic_button link" id="delete_plan">Delete Plan</button> </a>
        {% endif %}
    </div>
</div>

{% if dates %}
    <div class="center__wrapper">
<div class="greeting__text_small">Task Dates: </div>
<div class="container__table">
    <table class="table__">
        {% for date in dates %}
        <tr class="table__tr">
            <th class="table__th"> Сharacteristic </th>
            <th class="table__th"> Value</th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Date Type </th>
            <th class="table__td"> {{ date.date_type }} </th>
        </tr>
        <tr class="table__tr">
            <th class="table__td"> Date </th>
            <th class="table__td"> {{ date.date }} </th>
        </tr>
       <tr class="table__tr">
            <th class="table__td"> Date Action </th>
            <th class="table__td" style="width: 50%">
                    <a class="table__td_action" href="{% url 'pinecon:update_date' date.date_id %}">update date</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_date' date.date_id %}">delete date</a>
            </th>
            </tr>
        {% endfor %}
    </table>
</div>
    </div>
{% endif %}

{% if groups %}
    <div class="center__wrapper">
    <div class="greeting__text_small">The task is in groups: </div>
    <div class="container__table">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th"> Show group </th>
            </tr>
            {% for group in groups %}
                <tr class="table__tr">
                    <th class="table__td"> {{ group.title }}</th>
                    <th class="table__td"> <a href="{% url 'pinecon:show_group' group.group_id %}"> show group</a></th>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endif %}
{% if executors %}
    <div class="center__wrapper">
    <div class="greeting__text_small">Executors:</div>
    <div class="container__table">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Executor name </th>
            </tr>
            {% for executor in executors %}
                <tr class="table__tr">
                    <th class="table__td"> {{ executor.name }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endif %}
{% if task.task_type == "simple" and creator%}
<div class="greeting__text_small">Subtasks:</div>
<div onclick="clickedExpand(arguments[0])">
    <ul class="tree_container">
        <li class="tree__root tree__subtask_closed" id="{{ task.task_id }}">
            <div class="tree__subtask"></div>
            <div class="tree__subtask_content">
                <b> {{ task.title }}</b>
            </div>
            <ul class="tree_container"></ul>
        </li>
    </ul>
</div>
{% endif %}

<script>
    function clickedExpand(event) {
        let clickedElem = event.target;

        if (!isObjectBelongsToClass(clickedElem, 'tree__subtask')) return;

        let node = clickedElem.parentNode;

        tryLoadChildren(node.id);

        createNewNode(node)
    }

    function isObjectBelongsToClass(object, className) {
        return new RegExp("(^|\\s)" + className + "(\\s|$)").test(object.className)
    }

    function tryLoadChildren(listItemID) {

        $.ajax({
            url: "{% url 'pinecon:get_subtasks' %}",
            data: {
                'task_id': listItemID,
            },
            username: '{{ user.username }}',
            success: function(response) {
                loadChildren(response, listItemID)
            },
            error: function() {
                alert("Couldn't load subtasks. Try later :) ")
            }
        });
    }

    function loadChildren(response, listItemID) {
        let container = document.getElementById(listItemID).getElementsByClassName("tree_container")[0];
        if (container.children.length === 0) {
            $(response).each(function (index, item) {

                let li = setLiClass(response, index, item);

                let divs = settingDivForContent();
                let divExpand = divs.divExpand;
                let divContent = divs.divContent;

                saveSubtaskTitle(item, divContent);

                let ul = createUlContainer();

                li.appendChild(divExpand);
                li.appendChild(divContent);
                li.appendChild(ul);

                container.appendChild(li);
            });
        }
    }

    function setLiClass(response, index, item) {
        let li = document.createElement("li");
        li.className += "tree__node tree__subtask_closed  ";

        li.setAttribute("id", item.child_id);

        return li
    }

    function settingDivForContent() {
        let divExpand = document.createElement("div");
        divExpand.className += "tree__subtask";

        let divContent = document.createElement("div");
        divContent.className += "tree__subtask_content";
        return {
            divExpand: divExpand,
            divContent: divContent
        }
    }

    function saveSubtaskTitle(item, divContent) {
        let subtask_link = document.createElement('a');
        subtask_link.innerHTML = item.child_title;
        let href = "{% url 'pinecon:show_task' 0 %}".replace(/0/, item.child_id);
        subtask_link.setAttribute('href', href);
        divContent.appendChild(subtask_link);
    }

    function createUlContainer() {
        let ul = document.createElement("ul");
        ul.className += "tree_container";
        return ul;
    }

    function createNewNode(node) {
        let newClass = isObjectBelongsToClass(node, 'tree__subtask_open') ? 'tree__subtask_closed' : 'tree__subtask_open';

        let re = /(^|\s)(tree__subtask_open|tree__subtask_closed)(\s|$)/;
        node.className = node.className.replace(re, '$1' + newClass + '$3');
    }
</script>

<script>
    $('#delete_task').click(function() {
        Confirm('Delete Task', 'Are you sure you want to delete <b>{{ task.title }}</b> ?', 'Yes',
            'Cancel', "{% url 'pinecon:delete_task' task.task_id %}");
    });
</script>

<script>
    $('#stop_being_executor').click(function() {
        Confirm('Stop being executor', 'Are you sure you want to stop being executor <b>{{ task.title }}</b> ?', 'Yes',
            'Cancel', "{% url 'pinecon:delete_executor_to_task_relation' task.task_id %}");
    });
</script>

<script>
    $('#delete_plan').click(function() {
        Confirm('Delete Plan', 'Are you sure you want to delete <b>{{ task.title }}</b> ?', 'Yes',
                'Cancel', "{% url 'pinecon:delete_task' task.task_id %}");
    });
</script>
{% endblock %}
