{% extends 'pinecon/base.html' %}
{% block content %}
<div class="greeting__text_small">
    <h2> Update Task: </h2> </div>
<form method="post" action="{% url 'pinecon:update_task' task_id %}">
    {% csrf_token %}
    <div class="form__create_task">
        <table class="table">
            {{ form }}
        </table>
      </div>
      <div class="container__button">
        <form action="{% url 'pinecon:update_task' task_id %}">
            <button type="submit" class='basic_button'>Update Task</button>
        </form>
        <form action="{% url 'pinecon:show_task' task_id %}">
            <button type="submit" class='basic_button'>Back</button>
        </form>
    </div>
</form>
{% endblock %}
