{% extends 'pinecon/base.html' %} {% block content %}
<div class="greeting__text_small"> <h2> Add Plan: </h2> </div>
<form method="post" action="{% url 'pinecon:create_plan' %}">
    {% csrf_token %}
    <div class="form__create_task">
        <table class="table">
            {{ plan_form }}
        </table>
    </div>
    <div class="greeting__text_small"> <h2> Add Template Task: </h2> </div>
    <div class="form__create_task">
        <table class="table">
            {{ task_form }}
        </table>
    </div>
    <div class="container__button">
        <form action="{% url 'pinecon:create_plan'%}">
            <button type="submit" class='basic_button'>Add Plan and Template Task</button>
        </form>
        <form action="{% url 'pinecon:home'%}">
            <button type="submit" class='basic_button'>Back</button>
        </form>
    </div>
</form>
{% endblock %}
