{% extends 'pinecon/base.html' %}
{% block content %}
<div class="greeting__text_small">Select executor: </div>

<div class="search-form">
    <input class="search-form__input" id="input-filter" type="text" placeholder="Enter an executor, which will be work with this task...">
</div>
<div class="scrollpane">
    <ul id="users-list" class="select__ul"></ul>
</div>
<br/>
<div class="container__button">
    <button type="submit" class='basic_button' onclick="addExecutorToTaskRelation()">Add Executor</button>
    <form action="{% url 'pinecon:show_task' task.task_id%}">
        <button type="submit" class='basic_button'>Back</button>
    </form>
</div>

<script>

    const csrftoken = $.cookie('csrftoken');

    // For more information: https://docs.djangoproject.com/en/1.11/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function reloadUsers() {
        $("#users-list").empty();
        let username = "{{ user.username }}";
        loadResults("{% url 'pinecon:get_executors' %}", username, addUsersToList);
    }

    function loadResults(url, username, success_function) {
        $.ajax({
            url: url,
            username: username,
            success: function(response) {
                success_function(response);
            }
        });
    }

    function addUsersToList(users){
        // Add loaded task to list (ul)
        const len = users.length;
        for (let i = 0; i < len; i++) {
            let user_ = users[i];
            // Create document structure for task list
            let li = document.createElement('li');
            let username = document.createTextNode(user_.username);
            li.id = user_.user_id;
            li.appendChild(username);
            document.getElementById("users-list").appendChild(li);
        }
    }

    $(document).ready(function() {
        reloadUsers()
    });

    let tasks_list = document.getElementById("users-list");

    tasks_list.addEventListener('click', handler);

    function handler(event) {
        let li_list = $("#users-list").children("li");
        for (let item of li_list)
            item.classList.remove('checked');
        event.target.classList.toggle('checked');
    }

    function getSelectedElement(){
        let li_list = $("#users-list").children("li");
        for (let item of li_list) {
            if(item.classList.contains('checked'))
                selected_item_id = item.id;
        }
        return selected_item_id
    }

    function isExecutorValid(user_id){
        if(user_id < 0){
            alert("Please, specify user!");
            return false;
        }
        return true;
    }

    function addExecutorToTaskRelation(){

        let user_id = getSelectedElement("users-list");
        if (!isExecutorValid(user_id)) return;

        $.ajax({
            method: "POST",
            url: "{% url 'pinecon:add_executor_to_task_relation' %}",
            data: {
                "task_id": {{ task.task_id }},
                "user_id": user_id,
            },
            username: '{{ user.username }}',
            success: function(response) {
                showUsers(response)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showError(xhr, ajaxOptions, thrownError)
            }
        });
    }

    function showUsers(response) {
        if(response.success){
                    location.href="{% url 'pinecon:show_task' task.task_id %}"
                }
                else{
                    alert(response.error)
                }
    }

    function showError(xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
    }

    // Dynamic filter
    $('input').on('keypress keyup', function(){
    let value = $(this).val().toLowerCase();
    if (value !== '') {

      $('.select__ul > li').each(function () {
        if ($(this).text().toLowerCase().indexOf(value) > -1) {
          $(this).removeClass('displayNone');
        } else {
          $(this).addClass('displayNone');
        }
      });
    } else {
      $('.select__ul > li').removeClass('displayNone');
    }
});
</script>

{% endblock %}

