@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

/* Basic style for background */
 html, body {
     width: 100%;
     min-height: 100%;
}
 * {
     box-sizing: border-box;
}
 body {
     background: linear-gradient(#f5f7fa, #c3cfe2);
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-family: 'Patrick Hand SC', cursive;
}

 /* Basic style for text */
 .greeting__text_basic {
     align-self: center;
     margin: 0 0 5px;
     font-size: 12px;

}
 .greeting__text_small{
     font-family: 'Patrick Hand SC', cursive;
     margin-top: 10px;
     text-align: center;
     font-size: 22px;
}
  .greeting__text_group_small{
     font-family: 'Patrick Hand SC', cursive;
     margin-top: 10px;
     text-align: center;
     font-size: 18px;
}
.greeting__text_groups_small{
     font-family: 'Patrick Hand SC', cursive;
     margin-top: 10px;
     text-align: left;
     font-size: 18px;
}
 .error__text{
     align-self: center;
     text-align: center;
     font-size: 19px;
     margin-top: 10px;
 }
 .login__text{
     margin-top:14px;
     margin-left: -20px;
     text-align: center;
     font-size: 18px;
}
 .error__text {
     font-size: 16px;
     text-align: center;
}
 .error__text_red {
     color: #b72925;
     font-size: 18px;
     text-align: center;
}

 /* image */
 .pine{
     width:auto;
     height: 5px;
}

 .image__pine{
     margin-left: 70%;
}

/* Basic style for forms */

 .form__register{
     border: 1px;
     margin-top: 1rem;
     text-align: center;
     font-size: 20px;
     padding: 1rem;
     letter-spacing: 1px;
}

/* Basic style for tables */
 .container__table{
     margin-top: 0.8rem;
     display: flex;
     align-items: center;
     align-content: center;
     justify-content: center;
}
 .table__{
     border-collapse: collapse;
     font-family: Arial, Helvetica, sans-serif;
     width:100%;
}
 .table__th{
     border: 1px solid  #ddd;
     padding: 0.8rem 0.5rem;
     text-align: center;
     font-size: 16px;
     /* background: #ddd; */
     background-color: #e2d1c3;
}
 .table__td {
     border-bottom: 1px solid  #ddd;
     border-top: 1px solid black;
     font-size: 13px;
     padding: 8px;
}
.table__td_button {
     border: 1px solid #ddd;
     font-size: 13px;
     padding: 8px;
}
 .table__tr{
     text-align: center;
}
 .table__tr:nth-child(even){
    background-color: #f2f2f2;
}
 .table__tr:hover {
     background-color: #ECE1D8;
}
 .table__td_action{
     margin-left: 10px;
     text-decoration: none;
}

 /* Style for creation forms */

.form__create_task{
     margin: 0.8rem 0;
     display: flex;
     align-items: center;
     align-content: center;
     justify-content: center;
    font-size: large;

     font-family: "Helvetica", monospace;
}

/* Style for search form */
.search-form__input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.search-form__input:focus{
    border: 3px solid #555;
}

/* Style for the list items */

.scrollpane {
    height: 300px;
    overflow: auto;
}


.select__ul{
    width: 100%;
    list-style-type: none;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #f1f1f1;
}
.select__ul li {
          cursor: pointer;
          padding: 12px 8px 12px 40px;
          list-style-type: none;
          background: #eee;
          font-size: 18px;
}
.select__ul li:nth-child(odd) {
          background: #f9f9f9;
}
.select__ul li:hover {
          background: #ddd;
}
.select__ul li.checked {
    background-color: #555;
    color: white;
}

.displayNone{
    display: none;
}

/* Subtask Tree */

.tree_container {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 10px 0;
}
 .tree_container li {
     list-style-type: none;
}
 .tree__node {
     margin-left: 18px;
}
 .tree__root {
     margin-left: 45%;
}
 .tree__subtask {
     margin-right: 5px;
 }
 .tree__subtask_open .tree__subtask{
     background-image: url('/static/pinecon/images/remove.svg');
}
 .tree__subtask_closed .tree__subtask {
     background-image: url('/static/pinecon/images/add.svg');
}
 .tree__subtask_content {
     min-height: 18px;
     margin-left:18px;
}
 * html .tree__subtask_content {
     height: 18px;
}
 .tree__subtask {
     width: 18px;
     height: 18px;
     float: left;
}

.tree__subtask_open .tree_container {
    display: block;
}

.tree__subtask_closed  .tree_container {
    display: none;
}

/* Style for edit form */

.update-form__input{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

/* Style for group list */
.list-group{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/* */
.collapsible {
    background-color: #e2d1c3;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    color: black;
    text-align: left;
}

.active, .collapsible:hover {
    background-color: #c0a793;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.center__wrapper{
    margin: auto auto 10px;
    width: 80%;

}

.table__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.input{
    width: 100%;
}

.textarea{
   width: 100%;
}

.select_multiple{
    list-style-type: none;
    margin: 0;
    padding: 0;
}