@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

html section, body section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 3rem;
}

body section form button{
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem 0 0;
  transition: all 0.5s ease;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body section form button:hover{
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

body section form button{
  border: solid 2px #41403e;
}

.button__index{
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
}

.button__login{
  margin-left: 40%;
  font-size: 18px;
  letter-spacing: 1px;
}

.button__register{
  margin-top: 15px;
  margin-left: 40%;
  font-size: 16px;
  letter-spacing: 1px;
}

.container__button{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.basic_button{
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  transition: all 0.5s ease;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 16px;
  letter-spacing: 1px;
  border: solid 2px #41403e;

  margin: 0 1.5rem;

}
.date_button{
  font-family: 'Patrick Hand SC', cursive;
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  transition: all 0.5s ease;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  letter-spacing: 1px;
  border: solid 2px #41403e;
  margin: 0 1.5rem;
    font-size: 16px;
}