.dialog-ovelay {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}
.dialog-ovelay .dialog {
    font-family: sans-serif;
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden
}
.dialog-ovelay .dialog header {
    font-family: sans-serif;
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
    font-family: sans-serif;
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px
}
.dialog-ovelay .dialog header .fa-close:hover {
    font-family: sans-serif;
    color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
    font-family: sans-serif;
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
    font-family: sans-serif;
    padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    color: #333
}
.dialog-ovelay .dialog footer {
    font-family: sans-serif;
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
    font-family: sans-serif;
    direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
    font-family: sans-serif;
    padding: 5px 15px;
    border-radius: 3px
}
.button {
    font-family: sans-serif;
  cursor: pointer
}
.button-cancel {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-default {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  transition: all 0.5s ease;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 16px;
  letter-spacing: 1px;
  border: solid 2px #41403e;

  margin: 0 1.5rem;
}
.button-danger {
    font-family: sans-serif;
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}
.link {
  color: #000 !important;
  text-decoration: none;
  cursor: pointer;
}