* {
    box-sizing: border-box;
}

 .header a {
     font-family: 'Patrick Hand SC', cursive;
     float: left;
     color: black;

     padding: 12px;
     text-decoration: none;
     font-size: 28px;
     line-height: 25px;
     border-radius: 2px;
}

 .header a:hover {
     font-family: 'Patrick Hand SC', cursive;
     background-color: #ddd;
     color: black;
}

.header {
    font-family: 'Patrick Hand SC', cursive;
     overflow: hidden;
     background-color: #e2d1c3;
     padding: 20px 10px;
}

.greeting__text_header{
     font-family: 'Patrick Hand SC', cursive;
     color: #b52b39;
     float: left;
     padding: 12px;
     text-decoration: none;
     font-size: 28px;
     line-height: 25px;
     border-radius: 2px;
}

.header-right {
     float: right;
}
 .header-left {
     float: left;
}
