{% extends 'pinecon/base.html' %} {% block content %} {% load static %}

<div class="greeting__text_small">
    <h3><b>{{ group.title }}</b></h3></div>

{% if tasks %}
<div class="greeting__text_groups_small">Tasks in group:</div>
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        <a href="{% url 'pinecon:show_task' task.task_id %}"><b> {{ task.title }}</b></a>
    </li>
    {% endfor %}
</ul>

{% else %}
<div class="greeting__text_group_small">
    <p> Now you do not have any task in this group. </p>
</div>
{% endif %}

<br>
<div class="container__button">
    <form action="{% url 'pinecon:update_group' group.group_id %}">
        <button type="submit" class='basic_button'>Update Group</button>
    </form>

    <a>
        <button class="button-default link">Delete group</button>
    </a>
</div>

{% if tasks_length < 5 %} <img class="image__pine" src="{% static 'pinecon/images/pine.png' %}"> {% endif %}

<script>
    $('.button-default').click(function() {
        Confirm('Delete Group', 'Are you sure you want to delete <b>{{ group.title }}</b> ?', 'Yes',
            'Cancel', "{% url 'pinecon:delete_group'  group.group_id %}");
    });
</script>
{% endblock %}