{% extends 'pinecon/base.html' %}
{% block content %}
    <div class="update-form">
        <input class="update-form__input" type="text" value="{{ group.title }}" title="Enter new group title">
    </div>
    <div class="greeting__text_groups_small">Tasks in group:</div>
    <ul id="group__tasks_ul" class="list-group">
    </ul>

    <div class="greeting__text_groups_small">Users tasks, that not in group:</div>
    <ul id="user__tasks_ul" class="list-group">
    </ul>

    <div class="container__button">
        <form onsubmit="updateGroupTitle(this);">
            <button class='basic_button'>Update Group</button>
        </form>
        <form action="{% url 'pinecon:show_group' group.group_id %}">
            <button type="submit" class='basic_button'>Back</button>
        </form>
    </div>

    <!-- Update group title -->
    <script>
    function updateGroupTitle() {
        let new_title = $(".update-form__input").val();

        if(new_title.length < 1)
            return;

        // For more information: https://docs.djangoproject.com/en/1.11/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            method: "POST",
            url : "{% url 'pinecon:update_group' group.group_id %}",
            data: {
                'title': new_title,
            },
            username: '{{ user.username }}',
            success : function() {
                return location.href = "{% url 'pinecon:show_group' group.group_id %}"
            },
            error : function(xhr,errmsg,err) {
                alert("Couldn't update group title" + err)
            }
        });
    }
    </script>

    <!-- Show group tasks and task, that are not in group -->
    <script>
        const csrftoken = $.cookie('csrftoken');

        // For more information: https://docs.djangoproject.com/en/1.11/ref/csrf/
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        getAllTasksFromStorage();

        function getAllTasksFromStorage() {
            $.ajax({
                url: "{% url 'pinecon:get_group_tasks' %}",
                data: {
                    'group_id': {{group.group_id }},
                },
                username: '{{ user.username }}',
                success: function(response) {
                    createTaskList(response);
                },
                error: function() {
                    alert("Couldn't load groups tasks")
                }
            });
        }

        function createTaskList(response) {
            // all_tasks, group_tasks - dict, where task_id - key, task_title - value
            let all_tasks = response.all_tasks;
            let group_tasks = response.group_tasks;

            for (let task_id in all_tasks) {
                let li = document.createElement('li');
                li.classList.add("list-group-item");
                let checkbox = document.createElement('input');
                checkbox.type = "checkbox";
                checkbox.value = task_id;

                modifyGroupToTaskRelation(checkbox);

                let task_link = createShowTaskLink(all_tasks, task_id);

                if (task_id in group_tasks) {
                    createGroupTasksList(checkbox, task_link, li)
                } else {
                    createNotGroupTasksList(checkbox, task_link, li)
                }
            }
        }

        function modifyGroupToTaskRelation(checkbox) {
            checkbox.addEventListener('change', function(event) {
                    let task_id = event.target.value;

                    $.ajax({
                        method: "POST",
                        url: "{% url 'pinecon:modify_group_to_task_relation' %}",
                        data: {
                            'task_id': task_id,
                            'group_id': {{ group.group_id }},
                            'relation_add': event.target.checked,
                        },
                        username: '{{ user.username }}',
                        success: function(result) {},
                        error: function(xhr, errmsg, err) {
                            alert("Couldn't modify task-group relation " + errmsg + err)
                        }
                    });
                });
        }

        function createShowTaskLink(all_tasks, task_id) {
            let task_link = document.createElement('a');
            task_link.innerHTML = "<b> " + all_tasks[task_id] + " </b>";
            let href = "{% url 'pinecon:show_task' 0 %}".replace(/0/, task_id);
            task_link.setAttribute('href', href);
            return task_link;
        }

        group_tasks_ul = document.getElementById("group__tasks_ul");

        function createGroupTasksList(checkbox, task_link, li){
            checkbox.checked = true;
            createTaskElement(checkbox, task_link, li);
            group_tasks_ul.appendChild(li);
        }

        user_tasks_ul = document.getElementById("user__tasks_ul");

        function createNotGroupTasksList(checkbox, task_link, li){
            createTaskElement(checkbox, task_link, li);
            user_tasks_ul.appendChild(li);
        }

        function createTaskElement(checkbox, task_link, li) {
            li.appendChild(checkbox);
            li.appendChild(task_link);
        }
    </script>
{% endblock %}
