{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pinecon</title>
    <link rel="shortcut icon" href="{% static 'pinecon/images/pinecone.ico' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'pinecon/styles/header_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pinecon/styles/basic_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pinecon/styles/button_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pinecon/styles/confirm_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pinecon/styles/alert_style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="{% static 'pinecon/scripts/confirm_script.js'%}"></script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="{% url 'pinecon:home'%}">Home</a>
             {% if user.is_authenticated %}
                <div class="greeting__text_header">Welcome to Pinecone, {{ user.username }}</div>
            {% else %}
                <div class="greeting__text_header">Welcome to Pinecone</div>
            {% endif %}
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <a href="{% url 'pinecon:create_task' %}">Add Task </a>
                <a href="{% url 'pinecon:create_plan' %}">Add Plan </a>
                <a href="{% url 'pinecon:create_group' %}"> Add Group </a>
                <a href="{% url 'pinecon:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'pinecon:login' %}"> Login </a>
                <a href="{% url 'pinecon:register' %}">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="content container">
        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
