{% extends 'pinecon/base.html' %} {% load static %} {% block content %}
<div class="content">
    <br/> {% if not overdue_tasks and not tasks and not executor_tasks and not groups and not finished_tasks and not plans_and_templates %}
    <div class="greeting__text_small">
        <p> Now you do not have any tasks or groups. </p>
        <p> Sure, you have several urgent cases. Add them currently! </p>
    </div>
    <img class="image__pine" src="{% static 'pinecon/images/pine.png' %}"> {% endif %} {% if tasks %}
    <div class="center__wrapper">
    <button class="collapsible"> Tasks: </button>
    <div class="table__content">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th">Status</th>
                <th class="table__th">Priority</th>
                <th class="table__th"> Task Actions </th>
            </tr>
            {% for task in tasks %}
            <tr class="table__tr">
                <th class="table__td">{{ task.title }}</th>
                <th class="table__td">{{ task.status }} </th>
                <th class="table__td">{{ task.priority }} </th>
                <th class="table__td" style="width: 50%"><a class="table__td_action" href="{% url 'pinecon:show_task' task.task_id %}">show task</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_task' task.task_id %}">update task</a>
                    <a class="table__td_action" href="{% url 'pinecon:finish_task' task.task_id %}">finish task</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_task' task.task_id %}">delete task</a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    {% endif %} {% if executor_tasks %}
    <div class="center__wrapper">
    <button class="collapsible"> Shared Tasks: </button>
    <div class="table__content">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th">Status</th>
                <th class="table__th">Priority</th>
                <th class="table__th"> Task Actions </th>
            </tr>
            {% for task in executor_tasks %}
            <tr class="table__tr">
                <th class="table__td">{{ task.title }}</th>
                <th class="table__td">{{ task.status }} </th>
                <th class="table__td">{{ task.priority }} </th>
                <th class="table__td" style="width: 50%"><a class="table__td_action" href="{% url 'pinecon:show_task' task.task_id %}">show task</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_task' task.task_id %}">update task</a>
                    <a class="table__td_action" href="{% url 'pinecon:finish_task' task.task_id %}">finish task</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_task' task.task_id %}">delete task</a>
                </th>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    {% endif %} {% if plans_and_templates %}
    <div class="center__wrapper">
    <button class="collapsible"> Plans: </button>
    <div class="table__content">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th">Status</th>
                <th class="table__th">Priority</th>
                <th class="table__th"> Plan Actions </th>
            </tr>
            {% for plan, template_task in plans_and_templates %}
            <tr class="table__tr">
                <th class="table__td">{{ template_task.title }}</th>
                <th class="table__td">{{ template_task.status }} </th>
                <th class="table__td">{{ template_task.priority }} </th>
                <th class="table__td" style="width: 60%"><a class="table__td_action" href="{% url 'pinecon:show_task' template_task.task_id %}">show plan</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_plan' plan.plan_id %}">update plan</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_task' template_task.task_id %}">update template task</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_task' template_task.task_id %}">delete plan</a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    {% endif %}{% if overdue_tasks %}
    <div class="center__wrapper">
    <button class="collapsible"> Overdue Tasks: </button>
    <div class="table__content">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th">Status</th>
                <th class="table__th">Priority</th>
                <th class="table__th"> Task Actions </th>
            </tr>
            {% for task in overdue_tasks %}
            <tr class="table__tr">
                <th class="table__td">{{ task.title }}</th>
                <th class="table__td">{{ task.status }} </th>
                <th class="table__td">{{ task.priority }} </th>
                <th class="table__td" style="width: 50%"><a class="table__td_action" href="{% url 'pinecon:show_task' task.task_id %}">show task</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_task' task.task_id %}">update task</a>
                    <a class="table__td_action" href="{% url 'pinecon:finish_task' task.task_id %}">finish task</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_task' task.task_id %}">delete task</a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    {% endif %} {% if finished_tasks %}
    <div class="center__wrapper">
    <button class="collapsible"> Finished Tasks: </button>
    <div class="table__content">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th">Status</th>
                <th class="table__th">Priority</th>
                <th class="table__th"> Task Actions </th>
            </tr>
            {% for task in finished_tasks %}
            <tr class="table__tr">
                <th class="table__td">{{ task.title }}</th>
                <th class="table__td">{{ task.status }} </th>
                <th class="table__td">{{ task.priority }} </th>
                <th class="table__td" style="width: 50%"><a class="table__td_action" href="{% url 'pinecon:show_task' task.task_id %}">show task</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_task' task.task_id %}">update task</a>
                    <a class="table__td_action" href="{% url 'pinecon:finish_task' task.task_id %}">finish task</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_task' task.task_id %}">delete task</a>
                </th>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    {% endif %} {% if groups %}
    <div class="center__wrapper">
    <button class="collapsible"> Groups: </button>
    <div class="table__content">
        <table class="table__">
            <tr class="table__tr">
                <th class="table__th"> Title </th>
                <th class="table__th"> Group Actions </th>
            </tr>
            {% for group in groups %}
            <tr class="table__tr">
                <th class="table__td">{{ group.title }}</th>
                <th class="table__td" style="width: 50%"><a class="table__td_action" href="{% url 'pinecon:show_group' group.group_id %}">show group</a>
                    <a class="table__td_action" href="{% url 'pinecon:update_group' group.group_id %}">update group</a>
                    <a class="table__td_action" href="{% url 'pinecon:delete_group' group.group_id %}">delete group</a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    {% endif %}
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}



