{% extends 'pinecon/base.html' %} {% block content %} {% load static %}
<body>
    {% if form.errors %}
    <div class="error__text">
        <div class="error__text_red">
            <p>Wrong input.</p>
        </div>
        <p>User with this username and password doesn't exist.</p>
        <p>Check the entered data.</p>
    </div>
    {% endif %}
    <section>
        <form method="post">
            {% csrf_token %}
            <div class="login__text">
                <p><b>User name:</b> {{ form.username }}</p>
                <p><b>Password: </b> {{ form.password }} </p>
            </div>
            <button type="submit" class="button__basic, button__login">Login</button>
        </form>

    </section>
    <img class="image__pine" src="{% static 'pinecon/images/pine.png' %}">
</body>
{% endblock %}