{% extends 'pinecon/base.html' %} {% block content %} {% load static %}
<section>
    <form method="post" action="{% url 'pinecon:register' %}">

        {% csrf_token %} {% if form.errors %}
        <div class="error__text_red">
            <p>Wrong input.</p>
        </div>
        {% endif %}

        <table class="form__register">
            {{ form }}
        </table>

        <button type="submit" class="button__basic, button__register">Register</button>
    </form>
</section>
        <img class="image__pine" src="{% static 'pinecon/images/pine.png' %}">
{% endblock %}