{% extends 'pinecon/base.html' %}
{% block content %}
<div class="greeting__text_small">Select subtask: </div>

<div class="search-form">
    <input class="search-form__input" id="input-filter" type="text" placeholder="Enter the title of a task, which you want to make a subtask...">
</div>
<div class="scrollpane">
    <ul id="tasks-list" class="select__ul"></ul>
</div>
<br/>
<div class="container__button">
    <button type="submit" class='basic_button' onclick="addTaskToTaskRelation()">Add Subtask</button>
    <form action="{% url 'pinecon:show_task' task_id%}">
        <button type="submit" class='basic_button'>Back</button>
    </form>
</div>

<script>

    const csrftoken = $.cookie('csrftoken');

    // For more information: https://docs.djangoproject.com/en/1.11/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function reloadTasks() {
        $("#tasks-list").empty();
        let username = "{{ user.username }}";
        loadResults("{% url 'pinecon:get_tasks' %}", username, addTasksToList);
    }

    function loadResults(url, username, success_function) {
        $.ajax({
            url: url,
            username: username,
            success: function(response) {
                success_function(response);
            }
        });
    }

    function addTasksToList(tasks){
        // Add loaded task to list (ul)
        const len = tasks.length;
        let task;
        for (let i = 0; i < len; i++) {
            task = tasks[i];
            // Create document structure for task list
            let li = document.createElement('li');
            let title = document.createTextNode(task.title);
            li.id = task.task_id;
            li.appendChild(title);
            document.getElementById("tasks-list").appendChild(li);
        }
    }

    $(document).ready(function() {
        reloadTasks()
    });

    let tasks_list = document.getElementById("tasks-list");

    tasks_list.addEventListener('click', handler);

    function handler(event) {
        let li_list = $("#tasks-list").children("li");
        for (let item of li_list)
            item.classList.remove('checked');
        event.target.classList.toggle('checked');
    }

    function getSelectedElement(){
        let li_list = $("#tasks-list").children("li");
        for (let item of li_list) {
            if(item.classList.contains('checked'))
                selected_item_id = item.id;
        }
        return selected_item_id
    }

    function isSubtaskValid(subtask_id ){
        if(subtask_id < 0){
            alert("Please, specify task!");
            return false;
        }
        return true;
    }

    function addTaskToTaskRelation(){

        let subtask_id = getSelectedElement("tasks-list");
        if (!isSubtaskValid(subtask_id)) return;

        $.ajax({
            method: "POST",
            url: "{% url 'pinecon:add_task_to_task_relation' %}",
            data: {
                "task_id": {{ task_id }},
                "subtask_id": subtask_id,
            },
            username: '{{ user.username }}',
            success: function(response) {
                showTasks(response)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showError(xhr, ajaxOptions, thrownError)
            }
        });
    }

    function showTasks(response) {
        if(response.success){
                    location.href="{% url 'pinecon:show_task' task_id %}"
                }
                else{
                    alert(response.error)
                }
    }

    function showError(xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
    }

    // Dynamic filter
    $('input').on('keypress keyup', function(){
    let value = $(this).val().toLowerCase();
    if (value !== '') {

      $('.select__ul > li').each(function () {
        if ($(this).text().toLowerCase().indexOf(value) > -1) {
          $(this).removeClass('displayNone');
        } else {
          $(this).addClass('displayNone');
        }
      });
    } else {
      $('.select__ul > li').removeClass('displayNone');
    }
});
</script>

{% endblock %}

