{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'pinecon/styles/errors_style.css' %}" />
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
  <div class="boo-wrapper">
    <div class="boo">
      <div class="face"></div>
    </div>
    <div class="shadow"></div>

    <h1>Whoops!</h1>
    <p>
      We couldn't find the page you
      <br />
      were looking for.
        <br />
        <br />
        Go <a class="href__home" href="{% url 'pinecon:home' %}"> home </a>
    </p>
  </div>
</div>
</body>
</html>